@media(min-width: $mobile-width) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 50px;
    background-color: $bg-second-color;
  }

  .footer__copyright {
    margin-bottom: 25px;
    text-align: center;
  }
}
