@media(min-width: $mobile-width){
    .header {
            width: inherit;
            display: flex;
            position: absolute;
            top: 32px;
            justify-content: space-around;
            align-items: baseline;

        &__btn-wrapper {
            transform: translateY(4px);
        }

        &__button {
            border: none;
            background-color: transparent;
            width: 34px;
            height: 42px;
        }

    }
    
}
@media(min-width: $tablet-width) {
 .header {
    top: 48px;

     &__button {
         width: 45px;
         height: 32px;
    }
     &__btn-wrapper {
        transform: translateY(8px);
    }
 }

}
@media(min-width: $desktop-width) {

    .header {
    
        justify-content: space-around;
        top: 14px;

        &__btn-wrapper {
            display: none;
        }

    }
}