@media(min-width: $mobile-width) {
  .logo {
    margin-right: 144px;

    &__footer {
      color: $logo-footer-color;
      margin: 0 auto;
      margin-bottom: 24px;
    }
  }
}

@media(min-width: $tablet-width) {
  .logo {
    font-size: 36px;
    margin-right: 450px;
  }
}
