@media (min-width: $mobile-width) {
  .logo {
    font-weight: 400;
    font-size: 25px;
    line-height: 12px;
    font-family: "Big John", "Arial", sans-serif;
    color: $text-second-color;

    &__footer {
      margin-bottom: 24px;
      color: $logo-footer-color;
    }
  }
}
@media (min-width: $tablet-width) {
  .logo {
    font-size: 28px;
  }
}
