@media (min-width: $mobile-width) {
.logo {
      font-family: "Big John", "Arial", sans-serif;
      font-weight: 400;
      font-size: 25px;
      line-height: 12px;
      color: $text-second-color;

      &__footer {
        color: $logo-footer-color;
        margin-bottom: 24px;
      }
    }
}
@media (min-width: $tablet-width) {
  .logo {
        font-size: 28px;
        
  }
}