@media(min-width: $mobile-width) {
  .already-contact {
    padding: 31px 37px 23px 38px;
    background-color: $bg-dark-color;
    background-image: url("../img/bg-testimonals.png");
    background-repeat: no-repeat;
    background-position: center;


    &__text {
      margin-bottom: 29px;
      font-size: 18px;
      text-align: center;
      color: $text-second-color;

      &--capitalize {
        text-transform: capitalize;
      }
    }
    &__wrapper {
      display: flex;
      justify-content: center;
    }
    &__button {
      padding: 14px 30px;
      font-size: 16px;
      color: $text-second-color;
      text-transform: capitalize;
      background-color: transparent;
      border: none;
      border: 1px solid $text-second-color;
      border-radius: 45px;
      cursor: pointer;
      &:hover,
      &:focus,
      &:active {
        color: $shadows-color;
        background-color: $text-second-color;
      }
    }
  }
}
