.already-contact {
    padding-top: 58px;
    padding-bottom: 71px;
    background-color: $bg-dark-color;
    background-image: url("../img/bg-testimonals.png");
    background-repeat: no-repeat;
    background-position: center;
}

.already-contact__text {
    text-align: center;
    color: $text-second-color;
    font-size: 20px;

    &--capitalize {
        text-transform: capitalize;
    }
}

.already-contact__button {
    text-transform: capitalize;
    color: $text-second-color;
    font-size: 16px;
}