.already-contact {
    padding-top: 13px;
    padding-bottom: 68px;
    background-color: $bg-dark-color;
    background-image: url("../img/bg-testimonals.png");
    background-repeat: no-repeat;
    background-position: center;

    &__text {
        text-align: center;
        margin-bottom: 29px;
        color: $text-second-color;
        font-size: 20px;

        &--capitalize {
            text-transform: capitalize;
        }
    }

    &__wrapper {
        padding-left: 613px;
    }

    &__button {
        border: none;
        background-color: transparent;
        text-transform: capitalize;
        color: $text-second-color;
        font-size: 16px;
        border: 1px solid $text-second-color;
        padding: 14px 30px;
        border-radius: 45px;
        cursor: pointer;
            &:hover,
            &:focus,
            &:active {
                background-color: $text-second-color;
                color: $shadows-color;
                }
    }
}

