.company-details {
    padding-top: 85px;
    padding-bottom: 90px;
    background-color: $bg-second-color;
}

.company-details__title {
    margin-bottom: 41px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 12px;
}

.company-details__text {
    width: 457px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}