.company-details__title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 12px;
}

.company-details__text {
    text-align: center;
}