.contact-us__title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $text-title-color;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    line-height: 12px;
}

.contact-us__text {
    text-align: center;
}