.contact {
    display: flex;
    padding-left: 174px;
}

.contact__item {
    width: 287px;
    margin-left: 40px;
    padding-top: 30px;
    padding-left: 42px;
    padding-right: 43px;
    padding-bottom: 29px;
    text-align: center;
    background-color: $bg-main-color;
    position: relative;
    box-shadow: 0.7px 0.7px 0 0 rgba(0, 0, 0, 0.05);

    &::before {
        content: "";
        position: absolute;
        top: -147px;
        left: 0px;
        width: 287px;
        height: 145px;
        background-image: url("../../img/icon-envelope.svg"),
        url("../../img/bg-envelope.png");
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
        background-size: 62px 46px, 287px 145px;
    }
    &--office::before {
        background-image: url("../../img/icon-mark.svg"),
        url("../../img/bg-office.png");
    }
    &--phone::before {
        background-image: url("../../img/icon-phone.svg"),
            url("../../img/bg-laptop.png");
    }
}

.contact__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

.contact__link {
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 20px;
    color: $text-main-color;
}

.contact__address {
    text-transform: uppercase;
    line-height: 20px;
}

.contact__phone {
    text-transform: uppercase;
    line-height: 20px;
}