
@media(min-width: $mobile-width) {
  .contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 37px;
    background-color: $bg-second-color;

    &__title {
      margin-bottom: 13px;
      @include title;
    }

    &__text {
      margin-bottom: 41px;
      @include subtitle;
    }
  }
}

@media(min-width: $tablet-width) {
  .contact-us {
    &__title {
      font-size: 20px;
    }

    &__text {
      margin-bottom: 200px;
      padding: 0 194px;
      font-size: 14px;
    }
  }
}

@media(min-width: $desktop-width) {
  .contact-us {
    padding-top: 80px;

    &__text {
      margin-bottom: 215px;
      padding: 0 474px;
    }
  }
}
