@media(min-width: $mobile-width) {
    .details-paginator {
        display: flex;
        margin-bottom: 23px;

        &__item {
            width: 53px;
            margin-right: 48px;
        }
        &__button {
            position: relative;
            border: none;
            width: 53px;
            height: 53px;
            background-color: $btn-grey;
            border-radius: 50%;
            cursor: pointer;
            &:hover,
            &:focus {
                background-color: $tiffany-color;
            }

            &:active {
                background-color: $tiffany-color;
            }

            &::before {
                content: "";
                position: absolute;
                top: 15px;
                left: 12px;
                width: 29px;
                height: 30px;
                background-image: url(../../img/icon-heart.svg);

            }

            &--mouse::before {
                background-image: url(../../img/icon-mouse.svg);
                top: 13px;
                left: 15px;
                width: 22px;
                height: 29px;

            }

            &--bulb::before {
                background-image: url(../../img/icon-bulb.svg);
                top: 13px;
                left: 16px;
                width: 20px;
                height: 29px;
            }
        }
    }
}
@media(min-width: $tablet-width) {
        .details-paginator {
            margin-left: 204px;
            margin-bottom: 62px;
        }

}

@media(min-width: $desktop-width) {
    .details-paginator {
        margin-left: 532px;
        margin-bottom: 39px;

        &__item {
            margin-right: 27px;
        }
    }

}
