.details-paginator {
    display: flex;
    margin-left: 500px;
    margin-bottom: 39px;
}

.details-paginator__item {
    width: 53px;
    margin-right: 27px;
}

.details-paginator__button {
    border: none;
}