@media(min-width: $mobile-width) {
  .employers {
    &__item {
      display: flex;
      flex-direction: column;
      display: none;
    }
    &__img {
      width: 285px;
      height: 364px;
      margin-left: 22px;
    }
    &__title {
      margin-bottom: -5px;
      text-align: center;
      color: $text-subtitle-color;
    }

    &__position {
      margin-bottom: 32px;
      margin-left: 65px;
      font-style: italic;
      font-family: "Source Sans Pro", "Arial", sans-serif;
      text-align: center;
      text-transform: uppercase;
    }

    &__text {
      width: 245px;
      margin: 0 auto;
      margin-bottom: 26px;
      text-align: center;
    }
  }
}
@media(min-width: $tablet-width) {
  .employers {
    margin-bottom: 49px;
    &__item {
      flex-direction: row;

    }
    &__img {
      margin-right: 59px;
    }

    &__wrapper {
      width: 370px;
      margin-top: -20px;
    }
    &__title {
      margin-bottom: -4px;
      text-align: right;
    }
    &__position {
      margin-bottom: 32px;
      margin-left: 181px;
      text-align: right;
    }
    &__text {
      width: 252px;
      margin-top: 12px;
      margin-left: 116px;
      text-align: right;
    }
  }
}
@media(min-width: $desktop-width) {
  .employers {
    margin-left: 181px;
    &__img {
      margin-right: 330px;
    }
  }
}