.employers-skills {
    margin-left: 150px;
}

.employers-skills__wrapper {
    display: flex;
}

.employers-skills__name {
    width: 131px;
    margin-right: 72px;
}

.employers-skills__percent {
    width: 36px;
    margin-top: 14px;
}