.employers {

    &__item {
    display: flex;
    padding-left: 181px;
    }

    &__img {
        width: 285px;
        height: 364px;
        margin-right: 330px;
    }

    &__wrapper {
        width: 370px;
        margin-top: -20px;
    }

    &__title {
        margin-bottom: 15px;
        text-align: right;
        color: $text-subtitle-color;
    }

    &__position {
        margin-bottom: 32px;
        margin-left: 134px;
        text-transform: uppercase;
        font-family: "Source Sans Pro", "Arial", sans-serif;
        font-style: italic;
        text-align: right;
        margin-left: 184px;

    }

    &__text {
        margin-bottom: 26px;
        text-align: right;
    }
}

