.featured-projects__title {
    text-transform: uppercase;
    text-align: center;
    color: $text-title-color;
    font-family: "Source Sans Pro";
    letter-spacing: 14px;
    font-size: 20px;
    line-height: 12px;
}

.featured-projects__text {
    text-align: center;
}