@media(min-width: $mobile-width) {
  .gallery {
    margin-bottom: 19px;
    &__item {
      height: 274px;
    }
    &__item:not(:first-child) {
      display: none;
    }
    &__image {
      width: 320px;
      height: 274px;
    }
    &__image:not(:first-child) {
      display: none;
    }
  }
}
@media(min-width: $tablet-width) {
  .gallery {
    display: grid;
    padding-left: 66px;

    grid-gap: 15px;
    grid-template-columns: repeat(3, 190px);

    &__image:nth-child(2) {
      display: block;
    }
    &__image {
      &:first-child,
      &:last-child {
        display: none;
      }
      &--bag:nth-child(2) {
        width: 190px;
      }
      &--blue-book:nth-child(2) {
        width: 190px;
        height: 245px;
      }
      &--yellow-book:nth-child(2) {
        width: 190px;
        height: 208px;
      }
      &--clothes:nth-child(2) {
        width: 190px;
        height: 187px;
      }
      &--table:nth-child(2) {
        width: 190px;
        height: 196px;
      }
      &--bottle:nth-child(2) {
        width: 190px;
        height: 221px;
      }
      &--drawer:nth-child(2) {
        width: 190px;
        height: 211px;
      }
      &--gift-bag:nth-child(2) {
        width: 190px;
        height: 168px;
      }
      &--gift-bottle:nth-child(2) {
        width: 190px;
        height: 228px;
      }
      &--autograph:nth-child(2) {
        width: 190px;
        height: 201px;
      }
      &--tablet:nth-child(2) {
        width: 190px;
        height: 162px;
      }
    }
  }

  .gallery__item {
    &:not(:first-child) {
      display: block;
    }
    &--yellow-book {
      height: 301px;
    }

    &--bottle {
      height: 334px;
    }

    &--drawer {
      height: 371px;
    }

    &--gift-bag {
      height: 269px;
    }

    &--gift-bottle {
      height: 209px;
    }

    &--autograph {
      height: 357px;
    }

    &--chair {
      height: 255px;
    }

    &--tablet {
      height: 301px;
    }
  }
  .gallery.gallery-description {
    display: none;
  }
}
@media(min-width: $desktop-width) {
  .gallery {
    padding-left: 141px;
    &-description {
      position: absolute;
      display: none;
      padding: 108px 12px 55px 30px;
      background-color: rgba(0, 0, 0, 0.7);

      &__title {
        position: relative;
        margin-bottom: 52px;
        font-size: 20px;
        line-height: 12px;
        text-align: left;
        color: $tiffany-color;
        text-transform: uppercase;
        letter-spacing: 4px;

        &::before {
          content: "";
          position: absolute;
          top: 29px;
          left: 3px;
          width: 23px;
          height: 1px;
          background-color: $tiffany-color;
        }
      }

      &__text {
        font-style: 12px;
        color: $grey-color;
      }

      &__wrapper {
        position: relative;
      }

      &__button {
        width: 29px;
        height: 28px;
        background-color: $shadows-color;
        border: none;
        border-radius: 50%;

        &::before {
          content: "";
          position: absolute;
          top: 11px;
          left: 8px;
          width: 13px;
          height: 13px;
          background-image: url("../../img/icon-link.svg");
        }

        &--like::before {
          left: 40px;
          background-image: url("../../img/icon-heart.svg");
        }
      }
    }
    &__item {
      &:not(:first-child),
      &:not(:nth-child(2)) {
        display: block;
      }
      &--table {
        margin-top: 68px;
      }
      &--bottle {
        margin-top: -60px;
      }
      &--drawer {
        margin-top: 9px;
      }
      &--gift-bag {
        margin-top: 70px;
      }
      &--gift-bottle {
        margin-top: 63px;
      }
      &--autograph {
        margin-top: -96px;
      }
      &--tablet {
        margin-top: 13px;
      }
      &--chair {
        margin-top: -28px;
        margin-left: 10px;
      }
    }
    &__image {
      &:last-child {
        display: block;
      }
      &:first-child,
      &:nth-child(2) {
        display: none;
      }
      &--bag:last-child {
        width: 270px;
        height: 361px;
      }

      &--blue-book:last-child {
        width: 270px;
        height: 229px;
      }

      &--yellow-book:last-child {
        width: 270px;
        height: 301px;
      }

      &--clothes:last-child {
        width: 270px;
        height: 361px;
      }

      &--bottle:last-child {
        width: 270px;
        height: 334px;
      }

      &--table:last-child {
        width: 270px;
        height: 361px;
      }

      &--gift-bag:last-child {
        width: 270px;
        height: 269px;
      }

      &--gift-bottle:last-child {
        width: 270px;
        height: 226px;
      }
      &--autograph:last-child {
        width: 270px;
        height: 386px;
      }
      &--drawer:last-child {
        width: 270px;
        height: 371px;
      }

      &--tablet:last-child {
        width: 270px;
        height: 278px;
      }
      &--chair:last-child {
        display: block;
        width: 270px;
        height: 319px;
      }
    }
  }
}
