.impressed {
    position: relative;
    padding-top: 81px;
    padding-left: 98px;
    padding-bottom: 100px;
    background-color: $bg-dark-color;
    background-image: url("../img/img-people.png");
    background-repeat: no-repeat;
    background-position: center;

}

.impressed__wrapper {
    width: 596px;
}

.impressed__title {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $text-second-color;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 20px;
    line-height: 12px;
}

.impressed__quote {
    color: $grey-color;
    font-size: 16px;
    line-height: 28px;
}

.impressed__autor {
    text-transform: uppercase;
    color: $grey-color;
    font-weight: 700;
    font-style: normal;
}

.impressed__position {
    text-transform: uppercase;
}

.impressed__location {
    color: $tiffany-color;
}

.impressed__image {
    position: absolute;
    top: -150px;
    left: 766px;
    z-index: 1;
}