.latest-news {
    padding-top: 80px;
    padding-left: 100px;
    padding-bottom: 104px;
    background-color: $bg-dark-color;
    background-image: url("../img/bg-clothes.png");
    background-repeat: no-repeat;
    background-position: center;
}

.latest-news__title {
    text-transform: uppercase;
    color: $text-second-color;
    letter-spacing: 4px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 20px;
}

.latest-news__text {
    color: $grey-color;
}