@media(min-width: $mobile-width) {
  .latest-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 22px;
    background-color: $bg-dark-color;
    background-image: url("../img/bg-clothes.png");
    background-repeat: no-repeat;
    background-position: center;

    &__title {
      color: $bg-main-color;

      @include title;
    }

    &__text {
      @include subtitle;
    }

    &__paginator {
      display: none;
    }

    &__item {
      width: 10px;
      height: 10px;
      margin-bottom: 10px;
      border: 1px solid $grey-color;
      border-radius: 50%;
    }
  }
}
@media(min-width: $tablet-width) {
  .latest-news {
    align-items: flex-start;
    padding-top: 55px;
    padding-left: 66px;

    &__text {
      padding: 0;
      padding-right: 336px;
      font-size: 14px;
      text-align: left;
    }
    &__paginator {
      display: block;
      transform: translate(625px, -200px);
    }
  }
}
@media(min-width: $desktop-width) {
  .latest-news {
    padding-top: 56px;
    padding-left: 98px;
    background-image: url("../img/bg-clothes.png");

    &__title {
      margin-bottom: 41px;
      font-size: 20px;
    }

    &__text {
      margin-bottom: 65px;
      padding-right: 800px;
      color: $grey-color;
    }

    &__paginator {
      transform: translate(1188px, -279px);
    }

    &__item {
      width: 10px;
      height: 10px;
      margin-bottom: 10px;
      border: 1px solid $grey-color;
      border-radius: 50%;
    }
  }
}

.active-paginator {
  background-color: $tiffany-color;
}