.map {
  margin-bottom: -7px;
  position: relative;
  &__wrapper {
    position: absolute;
    top: -1px;
    left: 0px;
    background-color: rgba(0,0,0, 0.8);
    padding: 180px 541px 193px 615px;
    display: flex;
  }
    &__text {
      font-size: 16px;
      letter-spacing: 0,8px;
      text-align: center;
      text-transform: uppercase;
      color: $text-second-color;
      width: 174px;
      margin-right: 17px;
    }
    &__button {
      width: 18px;
      height: 18px;
      border: none;
      border-radius: 50%;
      background-color: $tiffany-color;
      margin-top: 20px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 5px;
        width: 8px;
        height: 8px;
        border: 1px solid $text-second-color;
        border-top-color: transparent;
        border-right-color: transparent;
        transform: rotate(-48deg);
      }
    }
}