@media(min-width: $mobile-width) {
    .nav {
        display: none;
    }

}
@media(min-width: $desktop-width) {
.nav {
    width: 713px;
    display: flex;

    &__item {
        width: 86px;
        margin-right: 13px;
        padding: 15px 22px;
        border-radius: 25px;
        border: 1px solid transparent;
        &--services {
            padding: 15px 13px;
        }
        &--portfolio {
            padding: 15px 12px;
        }

        &--blog {
            padding: 15px 23px;
        }
        &--contact {
            padding: 15px 13px;
        }
        &:hover,
        &:focus {
            border: 1px solid $text-second-color;
        }
        
    }

    &__link {
        color: $text-second-color;
        font-size: 16px;
        line-height: 12px;

    }
}
}
