$bg-main-color: #ffffff;
$bg-second-color: #f3f3f3;
$text-main-color: #81868e;
$text-second-color: #ffffff;
$tiffany-color: #19bd9a;

.nav__link {
    color: $text-second-color;
    font-size: 16px;
    line-height: 12px;
}