.news__title {
    margin-bottom: 12px;
    text-transform: capitalize;
    color: $light-grey-color;
    font-size: 20px;
}

.news__autor {
    margin-bottom: 20px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-style: italic;

    &--name {
        color: $tiffany-color;
    }
}

.news__statistics {
    margin-bottom: 60px;
    color: $text-subtitle-color;
}

.news__text {
    width: 580px;
    margin-bottom: 51px;
}

.news__link {
    text-transform: capitalize;
    color: $grey-color;
}