.our-price__title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 20px;
    line-height: 12px;
}

.our-price__text {
    text-align: center;
}