@media(min-width: $mobile-width) {
  .our-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 101px;
    background-color: $bg-second-color;

    &__title {
      @include title;
    }

    &__text {
      @include subtitle;
    }
  }
}
@media(min-width: $tablet-width) {
  .our-price {
    &__title {
      font-size: 20px;
    }
    &__text {
      margin-bottom: 54px;
      padding: 0 150px;
      font-size: 14px;
    }
  }
}
@media(min-width: $desktop-width) {
  .our-price {
    &__text {
      padding: 0 474px;
    }
  }
}
// .our-price {
//     padding-top: 80px;
//     padding-bottom: 101px;
//     background-color: $bg-second-color;

//     &__title {
//         margin-bottom: 41px;
//         text-align: center;
//         text-transform: uppercase;
//         letter-spacing: 4px;
//         font-family: "Source Sans Pro", "Arial", sans-serif;
//         font-size: 20px;
//         line-height: 12px;
//         font-weight: 300;
//     }

//     &__text {
//         width: 457px;
//         margin: 0 auto;
//         margin-bottom: 61px;
//         text-align: center;
//     }
// }
