.our-services {
    padding-top: 81px;
    padding-bottom: 137px;
    background-color: $bg-second-color;
}

.our-services__title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 20px;
    line-height: 12px;
}

.our-services__text {
    text-align: center;
}

.our-services__wrapper {
    display: flex;
    padding-left: 182px;
}