@media(min-width: $mobile-width) {
    .our-services {
        padding-top: 30px;
        padding-bottom: 43px;
        background-color: $bg-second-color;
        margin-bottom: -16px;

        &__title {
            margin-bottom: 21px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-family: "Source Sans Pro", "Arial", sans-serif;
            color: $text-title-color;
            font-size: 18px;
            line-height: 12px;
            font-weight: 300;
        }
        &__text {
            width: 253px;
            margin: 0 auto;
            margin-bottom: 41px;
            text-align: center;
            font-size: 13px;
            line-height: 19px;
            font-weight: 400;
        }
    }
}
@media(min-width: $tablet-width) {
    .our-services {
        padding: 37px 83px 157px 97px;

        &__title {
            font-size: 24px;
            margin-bottom: 26px;
        }
        &__text {
            font-size: 18px;
            width: 480px;
            margin-bottom: 70px;
        }
        &__wrapper {
            display: flex;
            margin-left: -126px;
        }
    }
}
@media(min-width: $desktop-width) {

.our-services {
    padding: 81px 180px 104px 137px;

        &__title {
            margin-bottom: 41px;
            font-size: 20px;
        }
        &__text {
            width: 457px;
            margin-bottom: 61px;
            font-size: 14px;
        }
    }
}