.portfolio {
    background-color: $bg-second-color;
}

.portfolio__title {
    text-align: center;
    text-transform: uppercase;
    color: $text-title-color;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 20px;
    line-height: 12px;
}

.portfolio__text {
    text-align: center;
}