@media(min-width: $mobile-width) {
  .portfolio-paginator {
    display: none;
  }
}
@media(min-width: $tablet-width) {
  .portfolio-paginator {
    display: flex;
    margin-bottom: 73px;
    padding-left: 45px;

    &__item {
      position: relative;
      width: 88px;
      margin-right: 27px;
      font-size: 16px;
      color: $text-subtitle-color;

      &:nth-child(2),
      &:nth-child(5),
      &:nth-child(6) {
        margin-right: -12px;
      }
    }
    &__button {
      font-style: 18px;
      font-family: "Roboto", Arial, sans-serif;
      background-color: transparent;
      border: none;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 28px;
        left: 24px;
        display: none;
        width: 38px;
        height: 2px;
        background-color: $tiffany-color;
      }
      &--print::before {
        left: 6px;
      }
      &--identity::before {
        left: 14px;
      }
      &--branding::before {
        left: 19px;
      }
      &--html::before {
        left: 7px;
      }
      &--web::before {
        left: 5px;
      }
      &--wordpress::before {
        left: 29px;
      }
      &:hover::before,
      &:focus::before,
      &:active::before {
        display: block;
      }
    }
  }
}

@media(min-width: $desktop-width) {
  .portfolio-paginator {
    display: flex;
    margin-bottom: 73px;
    padding-left: 357px;

    &__item {
      position: relative;
      width: 100px;
      margin-right: 11px;
      font-size: 16px;
      color: $text-subtitle-color;

      &:nth-child(2),
      &:nth-child(5),
      &:nth-child(6) {
        margin-right: -12px;
      }
    }

    &__button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 28px;
        left: 24px;
        display: none;
        width: 38px;
        height: 2px;
        background-color: $tiffany-color;
      }

      &--print::before {
        left: 6px;
      }

      &--identity::before {
        left: 14px;
      }

      &--branding::before {
        left: 19px;
      }

      &--html::before {
        left: 7px;
      }

      &--web::before {
        left: 5px;
      }

      &--wordpress::before {
        left: 29px;
      }

      &:hover::before,
      &:focus::before,
      &:active::before {
        display: block;
      }
    }
  }
}
