.price-advantage {
  padding: 35px 51px 36px 33px;
  line-height: 30px;
  text-align: left;
  color: $text-main-color;
  letter-spacing: 0,7px;

  &__wrapper {
    padding: 26px 63px 29px 71px;
    background-color: $tiffany-color;
  }
  &__link {
    position: relative;
    font-size: 16px;
    line-height: 12px;
    text-align: center;
    color: $text-second-color;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 81px;
      width: 9px;
      height: 9px;
      border: 2px solid $text-second-color;
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(-44deg);
    }
  }
}
