.price {
    display: flex;
    padding-left: 279px;
}

.price__item {
    width: 234px;
    margin-right: 66px;
    background-color: $bg-main-color;
}

.price__title {
    text-transform: uppercase;
    color: $text-second-color;
    background-color: $tiffany-color;
    font-weight: 700;
}

.price__cost {
    color: $tiffany-color;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-weight: 900;
    font-size: 42px;
}

.price__time {
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 28px;
}