.question__input {
    &::placeholder {
        text-transform: capitalize;
        color: $text-placeholder-second;
    }
}

.question__button {
    text-transform: uppercase;
    border: none;
    color: $text-second-color;
    background-color: $tiffany-color;
}