.services {
    width: 400px;
    margin-right: 88px;
}

.services__title {
    text-transform: capitalize;
    color: $text-subtitle-color;
    font-size: 20px;
}

.services__text {
    font-size: 16px;
    line-height: 28px;

    &--first-text {
        margin-bottom: 42px;
    }

    &--tiffany {
        color: $tiffany-color;
    }
}