@media (min-width: $mobile-width) {
  .services-paginator {
    margin: 0 auto;
    margin-top: 18px;

    &__item {
      margin-bottom: 31px;

      &--roller,
      &--gamepad,
      &--plug {
        display: none;
      }
    }
    &__button {
      @include btn;
      @include btn-round;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 13px;
        left: 13px;
        width: 28px;
        height: 28px;
        background-image: url("../../img/icon-tools.svg");
      }
      &--roller::before {
        top: 15px;
        background-image: url("../../img/icon-roller.svg");
      }
      &--gamepad::before {
        top: 16px;
        height: 26px;
        background-image: url("../../img/icon-gamepad.svg");
      }

      &--plug::before {
        left: 16px;
        width: 22px;
        background-image: url("../../img/icon-plug.svg");
      }
      &:hover,
      &:focus,
      &:active {
        background-color: $tiffany-color;
      }
    }
  }
}
@media (min-width: $tablet-width) {
  .services-paginator {
    &__item {
      margin-bottom: 32px;

      &--roller,
      &--gamepad,
      &--plug {
        display: block;
      }
    }
  }
}
@media (min-width: $desktop-width) {
  .services-paginator {
    width: 53px;
    margin-top: 18px;

    &__item {
      margin-bottom: 17px;
    }
  }
}

.active {
  background-color: $tiffany-color;
}
