@media(min-width: $mobile-width) {
    .start-project {
        margin-bottom: -37px;
        &__wrapper {
        padding-top: 67px;
        padding-left: 44px;
        padding-bottom: 79px;
        background-image: url("../img/img-bg-start-mobile.png");
        background-repeat: no-repeat;
        background-position: center;
        margin-top: -51px;
        margin-bottom: 28px;
        }

        &__text {
            text-align: center;
            color: $text-second-color;
            font-size: 13px;
            margin-bottom: 24px;
            width: 237px;

            &--bold {
                font-weight: 700;
            }
        }
        &__wrapper-inner {
            margin-left: 43px;
        }
        &__link {
            text-transform: capitalize;
            color: $text-second-color;
            border: 1px solid $text-second-color;
            border-radius: 35px;
            padding: 11px 24px;

            &:hover,
            &:focus,
            &:active {
            background-color: $text-second-color;
            color: $shadows-color;
            }
        
        }

    }
}

@media(min-width: $tablet-width) {
    .start-project {
        padding-bottom: 19px;
        padding-left: 1px;
        background-color: $bg-second-color;
        margin-bottom: 50px;

        &__wrapper {
            padding-top: 46px;
            padding-left: 182px;
            background-image: url("../img/img-bg-start-tablet.png");
        }
        &__text {
            font-size: 18px;
            margin-left: -28px;
            font-weight: 300;
            margin-bottom: 29px;
            width: 445px;

            &--bold {
                font-weight: 700;
            }
        }

        &__wrapper-inner {
            margin-left: 116px;
        }
    }
} 

@media(min-width: $desktop-width) {
    .start-project {
        padding-bottom: 100px;
        padding-left: 25px;
        background-color: $bg-second-color;

    &__wrapper {
        padding-top: 58px;
        padding-left: 182px;
        padding-bottom: 57px;
        background-image: url("../img/img-bg-start.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    &__text {
        margin-left: 124px;
        text-align: center;
        color: $text-second-color;
        font-size: 20px;
        margin-bottom: 29px;
        width: 754px;

        &--bold {
            font-weight: 700;
        }
    }

    &__wrapper-inner {
        margin-left: 410px;
    }

}
}