@media(min-width: $mobile-width) {
    .team-paginator {
        display: flex;
        justify-content: center;
    
        &__item {
            width: 10px;
            height: 10px;
            border: 1px solid $tiffany-color;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}