@media(min-width: $mobile-width) {
    .team {
        margin-bottom: 53px;
        
    &__title {
        @include title;
    }

    &__text {
        @include subtitle;
    }
}

}
@media(min-width: $tablet-width) {
    .team {
        margin-bottom: 66px;

    &__title {
        margin-bottom: 41px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-family: "Source Sans Pro", "Arial", sans-serif;
        font-size: 20px;
        line-height: 12px;
    }

    &__text {
        width: 457px;
        margin: 0 auto;
        margin-bottom: 62px;
        text-align: center;
        font-size: 18px;
    }
}
}
@media(min-width: $desktop-width) {
.team {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: -21px;

    &__title {
        margin-bottom: 41px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-family: "Source Sans Pro", "Arial", sans-serif;
        font-size: 20px;
        line-height: 12px;
        font-weight: 400;
    }

    &__text {
        width: 457px;
        margin: 0 auto;
        margin-bottom: 62px;
        text-align: center;
        font-size: 14px;
    }
}
}