@media(min-width: $mobile-width) {
  .team {
    margin-bottom: 53px;

    &__title {
      @include title;
    }

    &__text {
      @include subtitle;
    }
  }
}
@media(min-width: $tablet-width) {
  .team {
    margin-bottom: 66px;

    &__title {
      margin-bottom: 41px;
      font-size: 20px;
    }

    &__text {
      margin-bottom: 62px;
      padding: 0 150px;
      font-size: 14px;
    }
  }
}
@media(min-width: $desktop-width) {
  .team {
    margin-bottom: -21px;
    padding-top: 80px;
    padding-bottom: 80px;

    &__title {
      margin-bottom: 41px;
    }

    &__text {
      margin-bottom: 62px;
      padding: 0 474px;
    }
  }
}
