@media (min-width: $mobile-width) {
    .testimonials-paginator {
        display: flex;
        position: absolute;
        top: 493px;
        left: 660px;
    
        &__item {
            width: 10px;
            height: 10px;
            border: 1px solid $tiffany-color;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
    
}
@media (min-width: $tablet-width) {
    .testimonials-paginator {
        display: flex;
        justify-content: center;
        position: static;
    
        &__item {
            width: 10px;
            height: 10px;
            border: 1px solid $tiffany-color;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}
@media (min-width: $desktop-width) {
    .testimonials-paginator {
        display: flex;
        position: absolute;
        top: 493px;
        left: 660px;

        &__item {
            width: 10px;
            height: 10px;
            border: 1px solid $tiffany-color;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}