@mixin title {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 18px;
  line-height: 12px;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  text-align: center;
  color: $text-title-color;
  text-transform: uppercase;
  letter-spacing: 4px;
}
@mixin subtitle {
  margin-bottom: 24px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}
@mixin btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin btn-round {
  width: 53px;
  height: 53px;
  background-color: $btn-grey;
  border-radius: 50%;
}