@mixin title {
    margin-bottom: 24px;
    text-transform: uppercase;
    text-align: center;
    color: $text-title-color;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: 300;
    line-height: 12px;
}

@mixin subtitle {
    padding: 0 20px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
}