$bg-main-color: #ffffff;
$bg-second-color: #f3f3f3;
$bg-dark-color: #4c4c57;


$text-main-color: #81868e;
$text-second-color: #ffffff;
$text-title-color: #333b46;
$text-subtitle-color: #464646;

$tiffany-color: #19bd9a;
$dark-grey-color: #636971;
$btn-grey: #81868e;
$grey-color: #b2b3b3;
$light-grey-color: #e1e4e9;
$text-placeholder-color: #cfd3d4;
$text-placeholder-second: #a9a9a9;